# Heroes Of Pymoli Data Analysis

- There are 576 total players. The top spender spent $18.96 on total purchases
- On average females spent more on total purchases than males. Females spent \\$4.47, while males spent \\$4.07
- There is a total of 179 unique items available for sale, with the most popular being "Oathbreaker, Last Hope of the Breaking Storm" with 12 total purchases and a total purchase value of \\$50.76

In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# File to load
data_file = "Downloads/purchase_data.csv"

In [3]:
# Use Pandas to read data
purchase_data = pd.read_csv(data_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
# Get count of unique players
player_unique = purchase_data["SN"].nunique()

In [5]:
# Create data frame with total player count
new_data= pd.DataFrame({"Total Players" : [player_unique]})
new_data

   Total Players
0            576

##  Purchasing Analysis (Total)

In [6]:
# Number of Unique Items
item_unique = purchase_data["Item Name"].nunique()

# Average Price
avg_price = purchase_data["Price"].mean()

# Number of Purchases
purchase_count = purchase_data["Purchase ID"].count()

# Total Revenue
revenue = purchase_data["Price"].sum()

In [7]:
# Place Purchasing Analysis data into a summary DataFrame
summary_table = pd.DataFrame({"Number of Unique Items": [item_unique],
                             "Average Price": [avg_price],
                             "Number of Purchases": [purchase_count],
                             "Total Revenue": [revenue]})

# Convert "Average Price" and "Total Revenue" to float and format to 2 decimal places
summary_table["Average Price"] = summary_table["Average Price"].astype(float).map("${:,.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

##  Gender Demographics

In [8]:
# Calculate totals for each
gender_total = purchase_data["SN"].nunique()
male_count = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
female_count = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
other_count = gender_total - male_count - female_count

# Calcualte percentage for each
male_percent = ((male_count/gender_total)*100)
female_percent = ((female_count/gender_total)*100)
other_percent = ((other_count/gender_total)*100)

# Place Gender Demographic data into a summary DataFrame
gender_summary = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                               "Total Count": [male_count, female_count, other_count],
                               "Percentage of Players": [male_percent, female_percent, other_percent]},
                              columns = ["Gender", "Total Count", "Percentage of Players"])

# Set Gender as index                                        
gender_summary = gender_summary.set_index("Gender")

# Convert "Percentage of Players" to float and format to 2 decimal places
gender_summary.style.format({"Percentage of Players": "{:.2f}%"})

##  Purchasing Analysis (Gender)

In [9]:
# Calculate purchase count by gender
male_purchase = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
female_purchase = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
other_purchase = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].count()

# Calculate average purchase price 
m_avg_purchase = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
f_avg_purchase = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
o_avg_purchase = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()

# Calculate total purchase value
m_tot_purchase = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
f_tot_purchase = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
o_tot_purchase = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

# Calculate average total purchase per person
m_avg_total = m_tot_purchase / male_count
f_avg_total = f_tot_purchase / female_count
o_avg_total = o_tot_purchase / other_count

# Place analysis data into a summary DataFrame
gender_purchase = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [male_purchase, female_purchase, other_purchase],
                                "Average Purchase Price": [m_avg_purchase, f_avg_purchase, o_avg_purchase], "Total Purchase Value": [m_tot_purchase, f_tot_purchase, o_tot_purchase],
                                "Avg Total Purchase per Person": [m_avg_total, f_avg_total, o_avg_total]},
                               columns = ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])
# Set gender as index                                        
gender_purchase = gender_purchase.set_index("Gender")

# Convert values to float and format to 2 decimal places
gender_purchase.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

##  Age Demographics

In [10]:
# Create bins to place vales for ages
bins =[0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99]

# Create levels for bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data

# Create new data frame
age_group = purchase_data.groupby("Age Group")

# Calculate total count by age group
count_age_group = age_group["SN"].nunique()

# Calculate percentages by age group 
percent_group = (count_age_group/player_unique) * 100

# Place analysis data into a summary DataFrame
age_demographics = pd.DataFrame({"Total Count": count_age_group, "Percentage of Players": percent_group})

# Format to remove index
age_demographics.index.name = None

# Convert values to float and format to 2 decimal places 
age_demographics.style.format({"Percentage of Players": "{:,.2f}%"})

##  Purchasing Analysis (Age)

In [11]:
# Calculate count purchases by age group
age_purchase_count = age_group["Purchase ID"].count()

# Calculate average purchase price by age group
avg_purchase_age = age_group["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_group["Price"].sum()

# Calculate average total purchase per person
avg_purchase_person = total_purchase_value/count_age_group

# Place analysis data into a summary DataFrame
age_analysis = pd.DataFrame({"Purchase Count": age_purchase_count,
                                 "Average Purchase Price": avg_purchase_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Total Purchase per Person": avg_purchase_person})

# Format to remove index
age_analysis.index.name = None

# Convert values to float and format to 2 decimal places 
age_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

##  Top Spenders

In [12]:
# Group purchase data by SN
spender_data = purchase_data.groupby("SN")

# Count the total purchases
spender_purchase_count = spender_data["Purchase ID"].count()

# Calculate average purchase
avg_purchase_spender = spender_data["Price"].mean()

# Calculate purchase total
purchase_total_spender = spender_data["Price"].sum()

# Place analysis data into a summary DataFrame
top_spenders = pd.DataFrame({"Purchase Count": spender_purchase_count,
                             "Average Purchase Price": avg_purchase_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort values in descending order
top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Convert values to float and format to 2 decimal places 
top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

##  Most Popular Items

In [13]:
# Create new data frame
item_names = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by ID and Name
item_data = item_names.groupby(["Item ID","Item Name"])

# Calculate count of purchases per item
purchase_count_item = item_data["Price"].count()

# Calcualte purchase value per item 
purchase_value = (item_data["Price"].sum())

# Calculate individual item price
item_price = purchase_value/purchase_count_item

# Place analysis data into a summary DataFrame
most_popular = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort values in descending order
most_popular_purchase = most_popular.sort_values(["Purchase Count"], ascending=False).head()

# Convert values to float and format to 2 decimal places
most_popular_purchase.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

In [14]:
# Sort "Total Purchase Value" in descending order
most_popular = most_popular.sort_values(["Total Purchase Value"], ascending=False).head()

# Convert values to float and format to 2 decimal places
most_popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})